html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

.timesnewroman {
  font-family: "Times New Roman", Times, serif;
}

section {
  background-image: url(../img/adam-miller-dBaz0xhCkPY-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

section:last-of-type {
  background-image: url(../img/raphael-nogueira-svbDI1Pq30s-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
  pointer-events: none;
}

button span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 6px;
  margin-bottom: 4px;
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
}

input {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

input:hover + .menu button span:nth-child(2) {
  left: -5px;
}

input:checked + .menu button span {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

input:checked + .menu button span:nth-child(2) {
  opacity: 0;
}

input:checked + .menu button span:nth-child(1) {
  transform: rotate(45deg);
}

input:checked + .menu button span:nth-child(3) {
  transform: rotate(-45deg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(225, 217, 209, 0.8);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
  z-index: 1;
}

input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
}
ul a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 1px 3px grey;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-page {
  min-height: 100vh;
  position: relative;
}

.arrow-move span {
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.arrow-move:hover span {
  left: 15px;
}

.tothemoon {
  width: 150px;
  height: 150px;
  outline: 5px solid black;
  position: relative;
  left: 12%;
  top: 65px;
}
.tothemoon h1 {
  text-align: center;
  text-transform: uppercase;
  position: static;
  font-size: 2.3rem;
  color: black;
  margin: 0;
}
.tothemoon a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.space-ventures h2 {
  margin: 0;
  text-align: center;
  font-size: 300%;
}
.space-ventures h2 span:first-of-type {
  display: block;
  position: relative;
  z-index: 1;
  top: 20px;
  left: -70px;
}
.space-ventures h2 span:nth-of-type(2) {
  position: relative;
  top: -10px;
  left: 10px;
  z-index: 0;
  color: rgba(189, 195, 199, 0.6);
}

#gcheading {
  font-size: 110%;
}

.pmaincontent {
  font-size: 16px;
  line-height: 1.5;
}

blockquote {
  padding: 0;
  position: relative;
  font-style: italic;
  display: inline;
}
blockquote span {
  position: relative;
  z-index: 1;
}
blockquote::before, blockquote::after {
  content: '"';
  display: block;
  position: absolute;
  font-size: 3rem;
  color: rgb(189, 195, 199);
  z-index: 0;
  opacity: 0.8;
}
blockquote::before {
  top: -13px;
  left: -13px;
}
blockquote::after {
  bottom: -40px;
  right: 1px;
}

.quotedesktop {
  display: none;
}

.major-tom {
  display: none;
}

p a {
  color: #D200A2;
}

footer {
  display: none;
}

.pil {
  position: absolute;
  bottom: 0;
  left: 49%;
  font-size: 3em;
}

@media screen and (min-width: 1024px) {
  .pmaincontent {
    font-size: 16px;
  }
  .full-page {
    display: flex;
    gap: 100px;
  }
  .firsthalf, .secondhalf {
    width: 50%;
  }
  .quotedesktop {
    display: block;
    background: #cf57a7;
    background: radial-gradient(circle farthest-corner at center center, #CF57A7 0%, #c79fcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }
  .major-tom {
    display: block;
    width: 100px;
    height: auto;
    float: right;
    transform: rotate(3deg);
  }
  .menu a:hover {
    border-bottom: 5px solid #CF57A7;
  }
  .tothemoon {
    width: 250px;
    height: 250px;
    outline: 5px solid black;
    position: relative;
    left: 12%;
    top: 65px;
  }
  .tothemoon h1 {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    font-size: 3.5rem;
    color: black;
    top: 10px;
    left: 44px;
  }
  .tothemoon a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
  }
  footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background-color: #00008b;
    color: #de3163;
    z-index: 1;
    font-weight: bold;
    line-height: 2.5;
    text-shadow: 1px 1px 10px #de3163, 1px 1px 10px #8b0000;
    justify-content: space-between;
  }
  footer .acceptcookies button {
    margin-right: 15px;
    position: static;
    background-color: #0047AB;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    color: white;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=style.css.map */